@use "../../../../styles/variables" as *
    
.contact
    font-size: 1.75rem
    background-color: $dark-blue
    color: $white
    padding: 30px

    h1
        text-align: center
        padding: 5% 0
    
    .container
        margin: auto
        display: flex
        align-items: center
        justify-content: space-around
        flex-wrap: wrap
        gap: 30px

        .contact-left
            text-shadow: rgba(0, 0, 0, 0.445) 1.95px 1.95px 2.6px

            h2
                text-align: center
                margin-bottom: 20px 

            span
                display: flex
                align-items: center
                justify-content: center
                padding: 4% 0
                width: 300px

                img
                    padding: 0 3%

        .contact-right
            background-color: $off-white
            padding: 30px
            width: 500px

            form
                width: 100%

                input, textarea
                    width: 100%
                    margin: 3% 0
                    padding: 2%
                    outline: none
                    border: none
                    font-size: 1.35rem
                    background-color: $dark-blue
                    color: $white

                    &::placeholder
                        color: $white

                input
                    height: 3rem

                textarea
                    height: 9rem

                button
                    margin: auto
                    display: block
                    background-color: $dark-blue
                    color: $white
                    border: none
                    padding: 3%
                    font-size: 1.25rem

                    &:hover
                        cursor: url("/assets/icons/stardew_pointer.png"), auto
                        transform: scale(.97)


@media screen and ( max-width: 500px )
    .contact
        font-size: 1.5rem

        .container
            .contact-right
                padding: 10px
