@use "../../../../styles/variables" as *

.requirements
    background-color: $light-brown
    color: $white
    padding: 30px
    font-size: 1.75rem

    h1
        text-align: center
        color: $dark-blue

    .container
        width: 85%
        margin: 30px auto
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
        column-gap: 20px
        row-gap: 20px
        font-size: 1.5rem
        text-shadow: rgba(0, 0, 0, 0.445) 1.95px 1.95px 2.6px

    .card
        padding: 10%
        background-color: $dark-blue
        display: flex
        flex-direction: column
        align-items: center
        border-radius: 20px 

        ul
            list-style: none
            margin: 10% 0

            li
                margin-top: 15px

@media screen and ( max-width: 1000px )
        .requirements
            padding: 5px

@media screen and ( max-width: 500px )
    .requirements
        font-size: 1.75rem
        padding: 10px

        .container
            font-size: 1.5rem

        img
            width: 64px
            height: 64px
