@use "../../../../styles/variables.sass" as *

.media
    padding: 10% 0
    // background-image: linear-gradient($light-brown, $brown)
    background-color: $light-brown

    .container
        width: 80%
        margin: auto


@media screen and ( max-width: 500px )
    .media
        .container
            width: 90%