@use "variables" as *

@font-face 
  font-family: "stardew"
  src: url("/assets/fonts/Stardew_Valley.ttf") 

*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: stardew
  font-weight: lighter
  letter-spacing: 2px

html
  scroll-behavior: smooth
  overflow-x: hidden
  cursor: url("/assets/icons/stardew_cursor.png"), auto

body
  background-color: $dark-blue

.content
  width: 100%
  max-width: 1500px
  margin: 0 auto
  overflow: hidden

.disable-select 
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -o-user-select: none
  user-select: none
  pointer-events: none

  *
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -o-user-select: none
    user-select: none
    pointer-events: none

@media screen and (max-width: 1366px)
  .content
    width: 100%
    max-width: 1100px
