@use "variables" as *
// @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap')



@font-face 
  font-family: "stardew"
  src: url("../../public/assets/fonts/Stardew_Valley.ttf") 


*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: stardew
  font-weight: lighter
  letter-spacing: 2px

html
  scroll-behavior: smooth
  overflow-x: hidden


body
  background-color: $dark-blue

