/* COLORS */

$dark-blue: #024f99
$blue: #4566a1
$light-blue: #7183ac
$dark-green: #54704a
$green: #648e46
$light-green: #79a34f
$dark-brown: #9f7841
$brown: #bc7c3e
$light-brown: #c7a260
$white: #e2eaea
$gray:#cbd2d2