/* COLORS */

$dark-blue: #140f50
$blue: #0578e5
$light-blue: #55cfef
$dark-green: #004f33
$green: #44a318
$light-green: #97fb62
$dark-brown: #804c1d
$brown: #e0b14b
$light-brown: #fae48c
$white: #f6f9f9
$off-white: #e2eaea
$gray:#cbd2d2


