@use "../../../../styles/variables" as *

.reviews
    font-size: 1.75rem 
    background-color: $dark-blue
    color: $white
    padding: 5%

    h1
        text-align: center

    .container
        position: relative
        padding: 5%
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
        gap: 5rem
        text-shadow: rgba(0, 0, 0, 0.445) 1.95px 1.95px 2.6px

        &::after
            content: ""
            width: 95%
            height: .15em
            background: $white
            position: absolute
            bottom: 0
            left: 2.5%

        a 
            text-decoration: none
            color: inherit
            font-weight: bolder
            display: flex
            align-items: center
            padding-bottom: 2%
            gap: 5px
            font-size: 2rem

            &:hover
                transform: scale(1.02)

        p
            font-size: 1.75rem