@use "../../../../styles/variables" as *

.platforms
    padding: 5% 0
    color: $dark-blue
    font-size: 1.75rem
    background-color: $light-brown

    h1
        text-align: center
        padding-bottom: 2%

    .container
        column-gap: 3rem
        row-gap: 2rem
        width: 90%
        margin: auto
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(125px, 1fr))
        align-items: center
        justify-items: center

        img
            object-fit: cover