@use "../../../../styles/variables" as *

.hero
    background-image: url("/assets/images/stardewbackground.png")
    position: relative
    height: 1200px
    display: flex
    justify-content: center
    align-items: center
    background-repeat: no-repeat
    flex-direction: column

    .cloud
        position: absolute
        top: 120px
        animation: 90s linear 0.5s infinite forwards slide

    .bird
        position: absolute
        animation: 15s linear 0.5s infinite forwards slide-back  
        left: 0
        right: 0

    .hero-logo
        position: absolute
        top: 150px
        width: 650px
        height: 325px

    .mountains, .ground
        object-fit: cover

    .mountains
        position: absolute
        top: 200px

    .ground
        position: absolute
        bottom: 0


    @keyframes slide 
        0% 
            transform: translateX(0)
            opacity: 0.2
        
        33% 
            transform: translateX(30%) 
            opacity: 0.4

        66% 
            transform: translateX(60%)
            opacity: 0.4

        100% 
            transform: translateX(100%)
            opacity: 0.2
    
    @keyframes slide-back 
        0% 
            transform: translateX(1500px)
        
        33% 
            transform: translateX(1000px) 

        66% 
            transform: translateX(500px)

        100% 
            transform: translateX(0px)

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5)
    .hero
        height: 127vh

        .hero-logo
            top: 100px
            width: 70%
            height: 30%

        .ground, .mountains
            height: 60%
            width: 100%
            object-position: 52% 0%

        .mountains
            position: absolute
            top: 355px
        
        .cloud, .bird
            display: none


@media screen and ( max-width: 500px )
    .hero
        height: 133vh

        .hero-logo
            top: 100px
            width: 350px
            height: 215px

        .ground, .mountains
            height: 70%
            max-width: 100%
            object-position: 35% 0%

        .mountains
            top: 120px

        .cloud, .bird
            display: none

@media  (min-width: 500px) and (max-width: 1200px) 
    .hero
        height: 110vh

        .hero-logo
            top: 100px
            width: 700px
            height: 400px

        .ground, .mountains
            height: 50%
            width: 100%
           

        .mountains
            position: absolute
            top: 600px

        .cloud, .bird
            display: none

@media  (width: 540px) and (height: 720px)
    .hero
        height: 1000px

        .hero-logo
            width: 520px
            height: 300px


@media  (min-width: 800px) and (max-width: 1300px) and (max-height: 1400px)
    .hero
        height: 119vh

        .ground, .mountains
            height: 60%
            width: 100%
            object-position: 52% 0%

        .mountains
            position: absolute
            top: 500px

        .cloud, .bird
            display: none



@media only screen and (orientation: landscape) and (max-width: 1200px)
    .hero
        height: 127vh

        .hero-logo
            top: 70px
            width: 60%
            height: 35%

        .ground, .mountains
            height: 60%
            width: 100%
            object-position: 52% 0%

        .mountains
            position: absolute
            top: 275px

@media only screen and (orientation: landscape) and (max-width: 900px)
        .hero
            height: 127vh

            .hero-logo
                top: 70px
                width: 60%
                height: 35%

            .ground, .mountains
                height: 60%
                width: 100%
                object-position: 52% 0%

            .mountains
                position: absolute
                top: 120px
        

@media  (min-width: 1559px) and (max-height: 975px) 
        .hero
            height: 127vh

            .hero-logo
                top: 70px
                width: 60%
                height: 35%

            .ground, .mountains
                height: 60%
                width: 100%
                object-position: 52% 0%

            .mountains
                position: absolute
                top: 350px


 
 

    
    

