@use "../../../../styles/variables" as *

.hero
    background-image: url("../../../../../public/assets/images/stardewbackground.png")
    position: relative
    height: 178vh
    display: flex
    justify-content: center
    align-items: center
    background-repeat: no-repeat
    flex-direction: column

    .cloud
        position: absolute
        top: 120px
        animation: 90s linear 0.5s infinite forwards slide

    .bird
        position: absolute
        animation: 15s linear 0.5s infinite forwards slide-back  
        left: 0
        right: 0

    .hero-logo
        position: absolute
        top: 150px

    .mountains, .ground
        object-fit: cover


    .mountains
        position: absolute
        top: 200px

    .ground
        position: absolute
        bottom: 0


    @keyframes slide 
        0% 
            transform: translateX(0)
            opacity: 0.2
        
        33% 
            transform: translateX(30%) 
            opacity: 0.4

        66% 
            transform: translateX(60%)
            opacity: 0.4

        100% 
            transform: translateX(100%)
            opacity: 0.2
    
    @keyframes slide-back 
        0% 
            transform: translateX(1500px)
        
        33% 
            transform: translateX(1000px) 

        66% 
            transform: translateX(500px)

        100% 
            transform: translateX(0px)




@media screen and ( max-width: 500px )
    .hero
        height: 133vh

        .hero-logo
            top: 100px
            width: 90%
            height: 20%

        .ground, .mountains
            height: 70%
            max-width: 100%
            object-position: 35% 0%

        .mountains
            top: 120px

        .cloud, .bird
            display: none

@media  (min-width: 500px) and (max-width: 1200px) 
    .hero
        height: 110vh

        .ground, .mountains
            height: 50%
            width: 100%
            // object-position: 52% 0%

        .mountains
            position: absolute
            top: 600px

        .cloud, .bird
            display: none


@media  (min-width: 800px) and (max-width: 1300px) and (max-height: 1400px)
    .hero
        height: 119vh

        .ground, .mountains
            height: 60%
            width: 100%
            object-position: 52% 0%

        .mountains
            position: absolute
            top: 500px

        .cloud, .bird
            display: none


// @media  (min-width: 540px) and (max-height: 1000)
    // .hero
    //     height: 119vh

    //     .hero-logo
    //         top: 100px
    //         width: 30%
    //         height: 20%

    //     .ground, .mountains
    //         height: 60%
    //         width: 100%
    //         object-position: 52% 0%

    //     .mountains
    //         position: absolute
    //         top: 500px

    //     .cloud, .bird
    //         display: none

// @media all and (orientation: landscape) 

 
 

    
    

