@use "../../../../styles/variables" as *

.languages
    padding-bottom: 5%
    background-image: linear-gradient($dark-blue, $blue)
    color: $white

    h1
        text-align: center
        margin-bottom: 5%

    ul
        width: 80%
        margin: auto
        list-style: none
        font-size: 1.5rem
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr))
        column-gap: 3rem

        li
            padding: 5% 3%
            display: flex
            align-items: center

            img
                margin-right: 2%